.title {
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

:host>>>.up-buttons button {
    float: right;
    width: 130px;
/*     margin-left: 5px;
    height: 35px;
    line-height: 35px; */
    /* background-color: cornflowerblue; */
}

:host>>>.header {
    width: 150px;
    text-align: center;
}

>>> .gestori-pec-dialog .ui-dialog-content.ui-widget-content {
    height: 100%;
}

>>>.bds .ui-dropdown {
    width: 100% !important;
}
.w-100x{
    width: 100%;
}
.clTable{
    display: flex;
    flex-flow: column;
}