:host>>>.tree-strutture{
    max-height: 60vh; 
    overflow: auto;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.justify-between{
    justify-content: space-between;
}
.tool-bar > div{
    display: inline-block;
}
.right-side > button{
    width: auto;
}
.tool-bar > .right-side{
    text-align: right;
}
